@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  transition: color .1s;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#file{
  display: none;
}

.mycard1{
   animation: shift infinite ease-in-out 15s;
}
.mycard1:hover{
  box-shadow: 0 0 8px 1px rgb(166, 0, 255);
}
.mybut3:hover{
  box-shadow:3px 3px 10px 1px rgb(255, 255, 255,0.2), 3px 3px 10px 1px rgb(0, 0, 0,0.7);
}

@keyframes shift{
  0%{
    background: linear-gradient(90deg,rgb(255, 0, 204),rgb(166, 0, 255));
  }
  25%{
    background: linear-gradient(-45deg,rgb(166, 0, 255),rgb(255, 0, 204));
  }
  50%{
    background: linear-gradient(45deg,rgb(166, 0, 255),rgb(255, 0, 204));
  }
  100%{
    background: linear-gradient(90deg,rgb(255, 0, 204),rgb(166, 0, 255));
  }
}

@layer utilities{
  .mycard{
    @apply flex flex-col justify-center items-center gap-10 text-black bg-white rounded-md w-[400px] h-[300px] max-xl:w-[350px] max-xl:h-[250px] max-sm:w-[300px] max-sm:h-[200px] max-md:w-[350px] max-md:h-[250px] max-lg:w-[400px] max-lg:h-[300px]  mt-auto;
  }
  .mycard1{
    @apply flex flex-col justify-center items-center gap-10 text-black  rounded-md w-[400px] h-[300px] max-xl:w-[350px] max-xl:h-[250px] max-sm:w-[300px] max-sm:h-[200px] max-md:w-[350px] max-md:h-[250px] max-lg:w-[400px] max-lg:h-[300px]  mt-auto;
  }
  .myinput{
    @apply bg-black rounded-lg p-3 text-white font-semibold outline-none;
  }
  .mybut{
    @apply bg-black text-white rounded-md px-3 py-2 hover:bg-blue-500 font-semibold;
  }
  .mybut3{
    @apply bg-black text-white rounded-md px-3 py-2 hover:bg-white hover:bg-gradient-to-r from-blue-600 to-green-600 transition-colors font-semibold;
  }
  .mybut2{
    @apply bg-black text-white rounded-md px-3 py-2 hover:bg-green-500 hover:text-black font-semibold;
  }
  .mybut1{
    @apply bg-black text-white rounded-md px-3 py-2 hover:bg-red-500 hover:text-black font-semibold;
  }
  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
}
}
